body{ /* corpo do nosso site*/
    background-color: #000000; /* cor do site*/
    overflow: hidden; /*tirar oque esta sobrando em uma tela , por exemplo sem ele fica uma rolagem na imagem    */
    
}

main::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vh;
    background-color: purple;
    background: linear-gradient(92deg, #000 25%, rgba(0, 0, 0, 0) 75%) no-repeat; 
    
}

main .personagem { /* selecionar uma imagem de cada personagem*/
    display: none; /* não mostrar as imagem no site*/
    height: 100vh; /*vh seria a altura da tela, 100 referesse a tela toda sem rolar o mouse*/
}

main .personagem.selecionado {/* só um elemento ou personagem que vai ser selecionado para mostrar no site*/
    display: block; /* só o primeiro elemento que foi selecioando vai aparecer os outros não*/
}

main .personagem .imagem {  /* utilizando as imagens que tem a classe imagem para aparcer no site*/
    width: 100%; /*largura da imagem 100% na tela, ou seja, tamanho da tela de cada computador*/
    height: 100%;/* altura da imagem 100% na tela, ou seja, tamanho da tela de cada computador*/
    object-fit: cover; /*dimensionamento da imagem de acordo com cada computador sem perder a qualidade*/

}

.conteudo {
    /*background-color: orange;   pinta o fundo da onde esta o texto*/
    position: absolute; /* colocar o texto em cima da imagem*/
    top: 0; /*movimentadndo para o top*/
    left: 120px; /*espaçamento para a frase*/
    
    display: flex;
    flex-direction: column;
    justify-content: center; /*para centralizar precisa de espaço no conteudo*/
    height: 100vh;
    max-width: 380px;
    z-index: 1; /* colocando um conteudo em cima do outro, nesse caso a descrição do personagem*/

}

.conteudo .nome_personagem {
    /* background-color: green; */
    color: #ffffff;
    font-size: 48px;
    font-family: "Secular One";
    font-weight: 400;
    margin-bottom: 20px;

}

.conteudo .descricao {
    /*background-color: blue; */
    font-family: "Rubik";
    color: #ffffff;
    font-size: 16px;
line-height: 24px;

}

.botoes {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;/*centralizar os botoes*/
    justify-content: center;
    min-height: 100vh;
    gap: 16px; /* espaçamento entre os elementos*/

}

.botoes .botao {
    border: none;
    background-color: #000000;
    width: 90px;
    height: 90px;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%; /* borda do botao*/
    

}

.botoes .botao img {
    border-radius: 50px;

}

.botoes .botao.selecionado {
    transform: scale(1.2); /* mostrar o zoom no botao*/
    box-shadow: 0 0 10px #D9D9D9;

}

.botoes .botao.cyberstorm.selecionado {
    box-shadow: 0 0 10px #47FFC5;
}
.botoes .botao.codepixie.selecionado {
    box-shadow: 0 0 10px #9747ff;
}
.botoes .botao.hexblade.selecionado {
    box-shadow: 0 0 10px #FFA947;
}
.botoes .botao.neonpulse.selecionado {
    box-shadow: 0 0 10px #E4309A;
}
.botoes .botao.codebreaker.selecionado {
    box-shadow: 0 0 10px #FFF047;
}
